Unattended-Upgrade::Allowed-Origins {
          "${distro_id}:${distro_codename}-security";
};

Unattended-Upgrade::Automatic-Reboot "{{ unattended_reboot }}"

Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_reboot_time }}"
